/* ---------------- /
#Reset
------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ---------------- /
#General
------------------ */

body {
    font-size: 18px;
    color: #d1cece;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #101921;
    font-family: "Raleway", serif;
}


/* ---------------- /
#General
------------------ */

.general-section {
    width: 35%;
}

.welcome {
    width: 100%;
    text-align: center;
    padding: 20px 20px;
    border-radius: 5px;
    border: 1px solid #46454546;
}

.dropdown {
    width: 100%;
    border-radius: 5px;
    padding: 25px 30px;
    margin-top: 20px;
    border: 1px solid #46454546;
}

.dropdown-container form {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #2d34395b;
}

.dropdown-container form div {
    display: flex;
    gap: 5px;
    align-items: center;
    -webkit-column-gap: 5px;
}

.dropdown-container form input {
    border: none;
    outline: none;
    width: 100%;
    color: #fff;
    padding: 10px;
    background: unset;
    font-family: "Raleway", serif;
}

.bloc {
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
    -webkit-column-gap: 25px;
}

.bloc-item {
    display: flex;
    padding: 10px 15px;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #46454546;
}

.bloc-item span {
    font-size: 14px;
}

.icons {
    width: 45px;
    height: 45px;
    display: flex;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    background: #46454546;
    align-items: center;
    justify-content: center;
    border: 1px solid #46454546;
}

.second-bloc {}

.dropdown-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}