/* ---------------- /
#Reset
------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ---------------- /
#General
------------------ */

body {
    font-size: 18px;
    color: #d1cece;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #101921;
    font-family: "Raleway", serif;
}


/* ---------------- /
#General
------------------ */

.general-section {
    width: 35%;
}

.welcome {
    width: 100%;
    text-align: center;
    padding: 25px 20px;
    border-radius: 5px;
    border: 1px solid #46454546;
}

.container {
    width: 100%;
    border-radius: 5px;
    padding: 25px 30px;
    margin-top: 20px;
    border: 1px solid #46454546;
}

.dropdown-container form {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #2d34395b;
}

.dropdown-container form div {
    display: flex;
    gap: 5px;
    align-items: center;
    -webkit-column-gap: 5px;
}

.dropdown-container form input {
    border: none;
    outline: none;
    width: 100%;
    color: #fff;
    padding: 10px;
    background: unset;
    font-family: "Raleway", serif;
}

.currency-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
    -webkit-column-gap: 20px;
}

.bloc-item {
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    border: 1px solid #46454546;
}

.dropdown {
    /* width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; */
}

.dropdown-button {
    border: none;
    outline: none;
    background: unset;
    color: #d1cece;
    font-family: "Raleway", serif;
    /* width: 100%;
    background: none;
    border: none;
    font-size: 16px;
    color: #333;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid #46454546; */
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #2d3439;
    z-index: 100;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #46454546;
}

.swap-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    color: #d1cece;
    position: absolute;
    background-color: #2d3439;
    border: 1px solid #46454546;
}